/*HTML background */
html {
  background:#f2f2f2 ;
  font-size: 16px;
}

/*Fonts*/

body{
  font-family:'PT Sans', sans-serif;
  background:#fff;
  max-width: 1200px;
  margin: 0 auto;
}
.header__top{
  width: 100%;
  max-height:55px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
   & a {
     color: black;
     text-decoration: none;
     text-transform: uppercase;
     display: flex;
     align-items: center;
   }
  & a:first-child{
    padding-left: 90px;
  }
  & a:last-child{
    padding-right: 90px;
  }
}

.header__top--logo{
  width: 188px;
  height: 99px;
}
.header__middle {
  background: url("../img/text--main.png") 46% 43%  no-repeat,
url("../img/intro-triangle.png")  50% 100%  no-repeat ,
  url("../img/back-desktop.jpg")  50% 100%  no-repeat ;
  height: 518px;
  overflow: hidden;
}

/*########   MAIN TEXT SEDONA ########*/


.main__text{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 55px;

  & h1 {
  font-size: 21px;
    margin-bottom: 40px;
    }
  & p {
    font-size: 14px;
    color: #b3b3b3;

  }
}


/*########   MAIN block SEDONA ########*/

.main__city {
  display: flex;

}
.main__city--image img{
  width: 100%;
  height: 100%;
}

.main__city--text{
  background-color: rgb(129, 179, 210);
  color: #fff;
  text-align: center;
  width: 400px;
  & h2 {
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
.main__city--text--one::before{
  content: "";
  width: 15px;
  height: 1px;
  background-color: #fff;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  margin-top: -2px;
}
.main__city--text--one::after{
  content: "";
  width: 15px;
  height: 1px;
  background-color: #fff;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  margin-top: -2px;
}
.main__city--text p {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
}


/*########   MAIN  SECOND block SEDONA ########*/

.main__advantages{
  display: flex;
  flex-shrink: 0;
  min-height: 330px;
  text-transform: uppercase;
  & img {
    display: table-cell;
    margin: 60px auto 30px
  }
  & p {
    text-align: center;
    color: #b3b3b3;

  }
  & h2 {
    text-align: center;
    font-size: 21px;
  }
}
.main__advantages--houses{
  width: 400px;


}
.main__advantages--food{
  width: 400px;


}
.main__advantages--souvenirs{
  width: 400px;

}
/*########   MAIN  third block SEDONA ########*/
.main__advantages--text{
  min-height: 260px;
  display: flex;
  flex-shrink: 0;
  text-transform: uppercase;
  background-color: #eee;
  text-align: center;
  & h2{
    margin-top: 50px;
    margin-bottom: 15px;
  }
  & p {
    margin-bottom: 30px;

  }
}

.main__advantages--area{

  width: 400px;
    & p {
      color: #b3b3b3;
      }
}
.main__advantages--road{
  width: 400px;
  & p {
    color: #b3b3b3;
  }
}
.main__advantages--tourists{
  width: 400px;
  & p {
    color: #b3b3b3;
  }
}

.main__advantages--style::before{
  content: " ";
  width: 15px;
  height: 1px;
  background-color: #b3b3b3;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  margin-top: -2px
}
.main__advantages--style::after{
  content: " ";
  width: 15px;
  height: 1px;
  background-color: #b3b3b3;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  margin-top: -2px
}










